<form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="UserName" 
    [(ngModel)]="loginUser.userName" required type="text" placeholder="User Name">
    <input class="form-control mr-sm-2" name="Password" 
    [(ngModel)]="loginUser.password" required type="password" placeholder="Password">
    <button class="btn btn-secondary my-2 my-sm-0" [disabled]="!loginForm.valid"  type="submit">Giriş</button>
  </form>
  <button class="btn btn-secondary my-2 my-sm-0" *ngIf="isAuthenticated" (click)="logOut()"  type="submit">Çıkış</button>