<div class="customizer-header px-2 pt-1 pb-0 position-relative">
	<h4 class="mb-0"></h4>
	<a class="customizer-close" (click)="toggleSidebar('themeCustomizer')"
		><span [data-feather]="'x'"></span
	></a>
	<hr class="mt-3" />
</div>
<div class="customizer-content" [perfectScrollbar]>
	<div class="chat-sidebar">
		<div id="users-list" class="chat-user-list-wrapper list-group">
			<h4 class="chat-list-title">Online users</h4>
			<ng-container
				*ngIf="onlineUsers && onlineUsers.length; else noResultsOnlineUsers"
			></ng-container>
			<ul class="chat-users-list chat-list media-list list-style">
				<li
					*ngFor="let onlineUser of onlineUsers; let i = index"
					[class.active]="selectedIndex === i"
				>
					<span class="avatar"
						><img
							[src]="
								onlineUser.avatar
									? onlineUser.avatar
									: '../../../assets/images/avatars/user-avatar.png'
							"
							height="42"
							width="42"
							alt="Generic placeholder image"
						/>
						<span class="avatar-status-online"></span>
					</span>
					<div class="chat-info flex-grow-1">
						<h5 class="mb-0">{{ onlineUser.name }}</h5>
						<p class="card-text text-truncate">
							{{ onlineUser.role }}
						</p>
					</div>
				</li>

				<ng-template #noResultsOnlineUsers>
					<li class="no-results" [ngClass]="{ show: onlineUsers.length <= 0 && onlineUsers }">
						<h6 class="mb-0">No Chats Found</h6>
					</li>
				</ng-template>
			</ul>
			<!-- <h4 class="chat-list-title">Offline users</h4>
			<ng-container
				*ngIf="offlineUsers && offlineUsers.length; else noResultsOfflineUsers"
			></ng-container>
			<ul class="chat-users-list contact-list media-list">
				<li
					*ngFor="let offlineUser of offlineUsers; let i = index"
					[class.active]="selectedIndex === i"
				>
					<span class="avatar"
						><img
							[src]="
								offlineUser.avatar
									? offlineUser.avatar
									: '../../../assets/images/avatars/user-avatar.png'
							"
							height="42"
							width="42"
							alt="Generic placeholder image"
						/>
						<span class="avatar-status-offline"></span>
					</span>
					<div class="chat-info flex-grow-1">
						<h5 class="mb-0">{{ offlineUser.fullName }}</h5>
						<p class="card-text text-truncate">
							{{ offlineUser.role }}
						</p>
					</div>
				</li>

				<ng-template #noResultsOfflineUsers>
					<li
						class="no-results"
						[ngClass]="{ show: offlineUsers !== null && offlineUsers.length <= 0 }"
					>
						<h6 class="mb-0">No offline users found</h6>
					</li>
				</ng-template>
			</ul> -->
		</div>
	</div>
</div>
