<h1 id="tableLabel">Car List</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!cars"><em>Loading...</em></p>
<button (click)="getAll()">Get All</button>
<button (click)="getByAvailable()">Get By Available</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cars">
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Daily Km Limit</th>
      <th>Available</th>
      <th>Price</th>
      <th>Reservation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars">
      <td>{{ car.name }}</td>
      <td>{{ car.model }}</td>
      <td>{{ car.kmLimitDaily }}</td>
      <td>{{ car.available }}</td>
      <td>{{ car.dailyPrice }}</td>
      <td><button *ngIf="car.available" class="btn btn-success" (click)="goAddRental(car.Id)">Reservation</button></td>
    </tr>
  </tbody>
</table>
