@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

$auth-1-inner-max-width: 400px !default;

.auth-wrapper {
	display: flex;
	flex-basis: 100%;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	width: 100%;

	.auth-inner {
		width: 100%;
		position: relative;
	}

	&.auth-v2 {
		align-items: flex-start;
		.auth-inner {
			height: 100vh;
			overflow-y: auto; // For v2 scroll for long auth form
			height: calc(var(--vh, 1vh) * 100);
		}
		.brand-logo {
			position: absolute;
			top: 2rem;
			left: 2rem;
			margin: 0;
			z-index: 1;
		}
	}

	.brand-logo {
		display: flex;
		justify-content: center;
		margin: 1rem 0 2rem 0;
		.brand-text {
			font-weight: 600;
		}
	}

	.auth-footer-btn {
		.btn {
			padding: 0.6rem !important;
			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.auth-wrapper {
		&.auth-v2 .auth-card {
			width: $auth-1-inner-max-width;
		}
	}
}

.auth-wrapper .auth-bg {
	background-color: $white;
}

.dark-layout {
	.auth-wrapper .auth-bg {
		background-color: $theme-dark-card-bg;
	}
}
